[[redirects]]
  from = "/home"
  to = "/index.html"
  status = 200

[[redirects]]
  from = "/projects"
  to = "/project.html"
  status = 200

[[redirects]]
  from = "/games"
  to = "/game.html"
  status = 200

[[redirects]]
  from = "/about"
  to = "/about.html"
  status = 200

[[redirects]]
  from = "/contact"
  to = "/contact.html"
  status = 200

[[redirects]]
  from = "/*/"
  to = "/:splat"
  status = 301
  force = true

[[redirects]]
  from = "/*.html"
  to = "/:splat"
  status = 200
  force = true
  conditions = { "endsWith": [".html"] }

[[headers]]
  for = "/*"
    [headers.values]
    Content-Type = "text/html; charset=utf-8"
    X-Content-Type-Options = "nosniff"

